.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#graph {
    width: 100%;
    height: 500px;
}

.eventText	{
    font-size: 125%;
    font-weight: 350;
    fill: #CC0000;
}

.eventLine	{
    stroke: #CC0000;
    stroke-width: 1px;
}